# STOR 120 - Homework 2: Arrays and Tables

**Recommended Reading**: 
* [Data Types](https://www.inferentialthinking.com/chapters/04/Data_Types.html) 
* [Sequences](https://www.inferentialthinking.com/chapters/05/Sequences.html)
* [Tables](https://www.inferentialthinking.com/chapters/06/Tables.html)

For all problems that you must write explanations and sentences for, you **must** provide your answer in the designated space. Moreover, throughout this homework and all future ones, please be sure to not re-assign variables throughout the notebook! For example, if you use `max_temperature` in your answer to one question, do not reassign it later on. 

**Deadline:**

This assignment is due Friday, January 28 at 5:00 PM. Late work will penalized as stated in the syllabus.

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged.

You should start early so that you have time to get help if you're stuck.

In [79]:
# Don't change this cell; just run it.

import numpy as np
from datascience import *
import math as math
import pandas as pd

## 1. Creating Arrays

**Question 1.1.** Make an array called `weird_numbers` containing the following numbers (in the given order):

1. 2
2. the square root of 37
3. -3
4. 7 to the power of 1.2

*Note:* Python lists are different/behave differently than numpy arrays. In STOR 120, we use numpy arrays, so please make an **array**, not a python list if you know how to do so.

<!--
BEGIN QUESTION
name: q1_1
-->

In [4]:
weird_numbers = make_array(2,math.sqrt(37),-3, 7**1.2)
weird_numbers

array([ 2.        ,  6.08276253, -3.        , 10.33041213])

**Question 1.2.** Make an array called `book_title_words` containing the following three strings: "Eats", "Shoots", and "and Leaves".

<!--
BEGIN QUESTION
name: q1_2
-->

In [5]:
book_title_words = make_array("Eats", "Shoots", "and Leaves")
book_title_words

array(['Eats', 'Shoots', 'and Leaves'], dtype='<U10')

Strings have a method called `join`.  `join` takes one argument, an array of strings.  It returns a single string.  Specifically, the value of `a_string.join(an_array)` is a single string that's the [concatenation](https://en.wikipedia.org/wiki/Concatenation) ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string.

**Question 1.3.** Use the array `book_title_words` and the method `join` to make two strings:

1. "Eats, Shoots, and Leaves" (call this one `with_commas`)
2. "Eats Shoots and Leaves" (call this one `without_commas`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(book_title_words)` .

<!--
BEGIN QUESTION
name: q1_3
-->

In [9]:
"foo".join(book_title_words)

'EatsfooShootsfooand Leaves'

In [12]:
with_commas = ",".join(book_title_words)
without_commas = " ".join(book_title_words)

# These lines are provided just to print out your answers.
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: Eats,Shoots,and Leaves
without_commas: Eats Shoots and Leaves

## 2. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.

*Note:* Please don't use bracket notation when indexing if you know how to (i.e. `arr[0]`), as this can yield different data type outputs than what we will be expecting.

**Question 2.1.** The cell below creates an array of some numbers.  Set `third_element` to the third element of `some_numbers`.

<!--
BEGIN QUESTION
name: q2_1
-->

In [14]:
some_numbers = make_array(-1, -3, -6, -10, -15)

third_element = some_numbers.item(2)
third_element

-6

**Question 2.2.** The next cell creates a table that displays some information about the elements of `some_numbers` and their order.  Run the cell to see the partially-completed table, then fill in the missing information (the cells that say "Ellipsis") by assigning `blank_a`, `blank_b`, `blank_c`, and `blank_d` to the correct elements in the table.

<!--
BEGIN QUESTION
name: q2_2
-->

In [18]:
blank_a = "third"
blank_b = "fourth"
blank_c = 0
blank_d = 4
elements_of_some_numbers = Table().with_columns(
    "English name for position", make_array("first", "second", blank_a, blank_b, "fifth"),
    "Index",                     make_array(blank_c, 1, 2, blank_d, 4),
    "Element",                   some_numbers)
elements_of_some_numbers

English name for position | Index | Element
first                     | 0     | -1
second                    | 1     | -3
third                     | 2     | -6
fourth                    | 4     | -10
fifth                     | 4     | -15

**Question 2.3.** You will sometimes want to find the *last* element of an array.  Suppose an array has 472 elements.  What is the index of its last element?

<!--
BEGIN QUESTION
name: q2_3
-->

In [23]:
len(elements_of_some_numbers)
test = np.arange(0, 472, 1)
make_array(test)
len(test)

472

In [28]:
index_of_last_element = test.item(471)

471

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns the `len`gth of that array (an integer).

**Question 2.4.** The cell below loads an array called `primary_total_votes`. This array has the votes for each candidate or ballot choice in every contest held in North Carolina in the May 8, 2018 elections.. Calling `.column(...)` on a table returns an array of the column specified, in this case the `sum_total_votes` column of the `primary_results` table. The last element in the array is the number of votes for Randy Ollis in the election for the Yancey County Board of Commissioners. Assign this numer of votes to `Ollis_votes`.
<!--
BEGIN QUESTION
name: q2_4
-->

In [32]:
primary_total_votes = Table.read_table("Datasets/primary_results.csv").column('sum_total_votes')

print(len(primary_total_votes))
Ollis_votes = primary_total_votes.item(1203)
Ollis_votes

1204

834

**Question 2.5.** The 813th, 814th, and 815th rows of the `primary_results` table show the contest, names, and votes for the three people who were running for the position of Orange County Board of Commissioners At-Large in 2018. Assign `sum_of_OC_votes` to the sum of votes for these three people using the `primary_total_votes` array.

<!--
BEGIN QUESTION
name: q2_5
-->

In [34]:
sum_of_OC_votes = primary_total_votes.item(812) + primary_total_votes.item(814) + primary_total_votes.item(814)
sum_of_OC_votes

27535

## 3. Basic Array Arithmetic

**Question 3.1.** Multiply the numbers 37, 3773, 3773773, and -350 by 157. Assign each variable below such that `first_product` is assigned to the result of $37 * 157$, `second_product` is assigned to the result of $3773 * 157$, and so on. 

For this question, **don't** use arrays.

<!--
BEGIN QUESTION
name: q3_1
-->

In [35]:
first_product = 37 * 157
second_product = 3773 * 157
third_product = 3773773 * 157
fourth_product = -350 * 157
print(first_product, second_product, third_product, fourth_product)

5809 592361 592482361 -54950

**Question 3.2.** Now, do the same calculation, but using an array called `numbers` and only a single multiplication (`*`) operator.  Store the 4 results in an array named `products`.

<!--
BEGIN QUESTION
name: q3_2
-->

In [38]:
numbers = make_array(37, 3773, 3773773, -350)
products = numbers * 157
products

array([     5809,    592361, 592482361,    -54950], dtype=int64)

**Question 3.3.** Oops, we made a typo!  Instead of 157, we wanted to multiply each number by 1577.  Compute the correct products in the cell below using array arithmetic.  Notice that your job is really easy if you previously defined an array containing the 4 numbers.

<!--
BEGIN QUESTION
name: q3_3
-->

In [39]:
correct_products = numbers * 1577
correct_products

array([     58349,    5950021, 5951240021,    -551950], dtype=int64)

**Question 3.4.** We've loaded an array of temperatures in the next cell.  Each number is the highest temperature observed on a day at a climate observation station, mostly from the US.  Since they're from the US government agency [NOAA](noaa.gov), all the temperatures are in Fahrenheit.  Convert them all to Celsius by first subtracting 32 from them, then multiplying the results by $\frac{5}{9}$. Make sure to **ROUND** the final result after converting to Celsius to the nearest integer using the `np.round` function.

<!--
BEGIN QUESTION
name: q3_4
-->

In [43]:
max_temperatures = Table.read_table("Datasets/temperatures.csv").column("Daily Max Temperature")

celsius_max_temperatures = (max_temperatures - 32)*(5/9)
celsius_max_temperatures

array([-3.88888889, 30.55555556, 31.66666667, ..., 16.66666667,
       22.77777778, 16.11111111])

**Question 3.5.** The cell below loads all the *lowest* temperatures from each day (in Fahrenheit).  Compute the size of the daily temperature range for each day.  That is, compute the difference between each daily maximum temperature and the corresponding daily minimum temperature.  **Pay attention to the units, give your answer in Celsius!** Make sure **NOT** to round your answer for this question!

<!--
BEGIN QUESTION
name: q3_5
-->

In [45]:
min_temperatures = Table.read_table("Datasets/temperatures.csv").column("Daily Min Temperature")

celsius_temperature_ranges = (min_temperatures - 32)*(5/9)
celsius_temperature_ranges

array([-10.55555556,  20.55555556,  19.44444444, ...,  -0.55555556,
        11.11111111,   5.        ])

## 4. North Carolina Population

The cell below loads a table of estimates of the North Carolina population from 1900 to 2021. The estimates come from the [FRED Economic Data](https://fred.stlouisfed.org/series/NCPOP).

In [46]:
NCpop = Table.read_table("Datasets/NCpop.csv")
NCpop.show(4)

The name `population` is assigned to an array of population estimates.

In [47]:
population = NCpop.column(1)
population

array([ 1897000,  1926000,  1956000,  1986000,  2017000,  2051000,
        2077000,  2105000,  2142000,  2174000,  2221000,  2276000,
        2313000,  2362000,  2421000,  2473000,  2513000,  2546000,
        2522000,  2535000,  2588000,  2651000,  2700000,  2761000,
        2830000,  2895000,  2959000,  3027000,  3082000,  3133000,
        3167000,  3184000,  3227000,  3268000,  3304000,  3323000,
        3346000,  3385000,  3440000,  3514000,  3574000,  3589000,
        3569000,  3654000,  3560000,  3533000,  3706000,  3769000,
        3837000,  3911000,  4068000,  4120000,  4109000,  4120000,
        4131000,  4242000,  4309000,  4368000,  4376000,  4458000,
        4573000,  4663000,  4707000,  4742000,  4802000,  4863000,
        4896000,  4952000,  5004000,  5031000,  5084411,  5203531,
        5301150,  5389852,  5470911,  5547188,  5607964,  5685607,
        5759492,  5823491,  5898980,  5956653,  6019101,  6077056,
        6164006,  6253954,  6321578,  6403700,  6480594,  6565459,
        6656987,  6748135,  6831850,  6947412,  7060959,  7185403,
        7307658,  7428672,  7545828,  7650789,  8081614,  8210122,
        8326201,  8422501,  8553152,  8705407,  8917270,  9118037,
        9309449,  9449566,  9574586,  9658913,  9751810,  9846717,
        9937295, 10037218, 10161802, 10275758, 10391358, 10501384,
       10457177, 10551162])

In this question, you will apply some built-in Numpy functions to this array. Numpy is a module that is often used in Data Science!

The difference function `np.diff` subtracts each element in an array from the element after it within the array. As a result, the length of the array `np.diff` returns will always be one less than the length of the input array.

The cumulative sum function `np.cumsum` outputs an array of partial sums. For example, the third element in the output array corresponds to the sum of the first, second, and third elements.

**Question 4.1.** Very often in data science, we are interested understanding how values change with time. Use `np.diff` and `np.min` (or just `min`) to calculate the largest annual decrease in population (most negative change) between any two consecutive years.

<!--
BEGIN QUESTION
name: q4_1
-->

In [52]:
largest_decrease_NC_pop = np.min(np.diff(population))
largest_decrease_NC_pop

-94000

**Question 4.2.** What may be the reason for this largest decrease in annual population?

Depending on what year it happened, it may have been a decrease due to people moving or perhaps it was during a war.

**Question 4.3.** What do the values in the resulting array represent (choose one)?

In [59]:
np.cumsum(np.diff(population))

array([  29000,   59000,   89000,  120000,  154000,  180000,  208000,
        245000,  277000,  324000,  379000,  416000,  465000,  524000,
        576000,  616000,  649000,  625000,  638000,  691000,  754000,
        803000,  864000,  933000,  998000, 1062000, 1130000, 1185000,
       1236000, 1270000, 1287000, 1330000, 1371000, 1407000, 1426000,
       1449000, 1488000, 1543000, 1617000, 1677000, 1692000, 1672000,
       1757000, 1663000, 1636000, 1809000, 1872000, 1940000, 2014000,
       2171000, 2223000, 2212000, 2223000, 2234000, 2345000, 2412000,
       2471000, 2479000, 2561000, 2676000, 2766000, 2810000, 2845000,
       2905000, 2966000, 2999000, 3055000, 3107000, 3134000, 3187411,
       3306531, 3404150, 3492852, 3573911, 3650188, 3710964, 3788607,
       3862492, 3926491, 4001980, 4059653, 4122101, 4180056, 4267006,
       4356954, 4424578, 4506700, 4583594, 4668459, 4759987, 4851135,
       4934850, 5050412, 5163959, 5288403, 5410658, 5531672, 5648828,
       5753789, 6184614, 6313122, 6429201, 6525501, 6656152, 6808407,
       7020270, 7221037, 7412449, 7552566, 7677586, 7761913, 7854810,
       7949717, 8040295, 8140218, 8264802, 8378758, 8494358, 8604384,
       8560177, 8654162], dtype=int32)

1) The total population change between consecutive years, starting at 1901.

2) The total population change between 1900 and each later year, starting at 1901.

3) The total population change between 1900 and each later year, starting inclusively at 1900.

<!--
BEGIN QUESTION
name: q4_3
-->

In [60]:
# Assign cumulative_sum_answer to 1, 2, or 3
cumulative_sum_answer = 3

## 5. Old Faithful

Old Faithful is a geyser in Yellowstone that erupts every 44 to 125 minutes (according to [Wikipedia](https://en.wikipedia.org/wiki/Old_Faithful)). People are [often told that the geyser erupts every hour](http://yellowstone.net/geysers/old-faithful/), but in fact the waiting time between eruptions is more variable. Let's take a look.

**Question 5.1.** The first line below assigns `waiting_times` to an array of 272 consecutive waiting times between eruptions, taken from a classic 1938 dataset. Assign the names `shortest`, `longest`, and `average` so that the `print` statement is correct.

<!--
BEGIN QUESTION
name: q5_1
-->

In [66]:
waiting_times = Table.read_table('Datasets/old_faithful.csv').column('waiting')

shortest = min(waiting_times)
longest = max(waiting_times)
average = waiting_times.mean()

print("Old Faithful erupts every", shortest, "to", longest, "minutes and every", average, "minutes on average.")

Old Faithful erupts every 43 to 96 minutes and every 70.8970588235294 minutes on average.

**Question 5.2.** Assign `biggest_decrease` to the biggest decrease in waiting time between two consecutive eruptions. For example, the third eruption occurred after 74 minutes and the fourth after 62 minutes, so the decrease in waiting time was 74 - 62 = 12 minutes. 

*Hint 1*: You'll need an array arithmetic function [mentioned in the textbook](https://inferentialthinking.com/chapters/05/1/Arrays.html#functions-on-arrays). You have also seen this function earlier in the homework!

*Hint 2*: We want to return the absolute value of the biggest decrease.

<!--
BEGIN QUESTION
name: q5_2
-->

In [75]:
biggest_decrease = max(abs(np.diff(waiting_times)))
biggest_decrease

47

**Question 5.3.** If you expected Old Faithful to erupt every 70 minutes, you would expect to wait a total of `70 * k` minutes to see `k` eruptions. Set `difference_from_expected` to an array with 272 elements, where the element at index `i` is the absolute difference between the expected and actual total amount of waiting time to see the first `i+1` eruptions. 

*Hint*: You'll need to compare a cumulative sum to a range. You'll go through `np.arange` more thoroughly in a future lab, but you can read about it in this [textbook section](https://www.inferentialthinking.com/chapters/05/2/Ranges.html).

For example, since the first three waiting times are 79, 54, and 74, the total waiting time for 3 eruptions is 79 + 54 + 74 = 207. The expected waiting time for 3 eruptions is 70 * 3 = 210. Therefore, `difference_from_expected.item(2)` should be $|207 - 210| = 3$.

<!--
BEGIN QUESTION
name: q5_3
-->

In [76]:
difference_from_expected = sum(waiting_times) - (70*len(waiting_times))
difference_from_expected

244

**Question 5.4.** Letâ€™s imagine your guess for the next wait time was always just the length of the previous waiting time. If you always guessed the previous waiting time, how big would your error in guessing the waiting times be, on average?

For example, since the first three waiting times are 79, 54, and 74, the average difference between your guess and the actual time for just the second and third eruption would be $\frac{|79-54|+ |54-74|}{2} = 22.5$.

<!--
BEGIN QUESTION
name: q5_4
-->

In [77]:
average_error = sum(waiting_times) - difference_from_expected
average_error

19040

## 6. Tables

**Question 6.1.** Suppose that a Girl Scout is selling cookies and has 14 boxes of thin mints, 8 boxes of Samoas, 17 boxes of tagalongs, and 3 boxes of S'mores. Create a table that contains this information. It should have two columns: `cookie name` and `count`.  Assign the new table to the variable `gs_cookies`.

<!--
BEGIN QUESTION
name: q6_1
-->

In [82]:
# Our solution uses 1 statement split over 3 lines.
gs_cookies = pd.DataFrame({"Cookie Name": ["Thin Mints", "Samoas", "Tagalongs", "S'mores"], "Count": [14, 8, 17, 3]})
gs_cookies

  Cookie Name  Count
0  Thin Mints     14
1      Samoas      8
2   Tagalongs     17
3     S'mores      3

**Question 6.2.** The file `gs_inventory.csv` contains information about the cookie inventory of a  Girl Scout troop.  Each row represents the contents of one container of boxes of cookies. Load it as a table named `gs_inventory` using the `Table.read_table()` function. `Table.read_table(...)` takes one argument (data file name in string format) and returns a table.

<!--
BEGIN QUESTION
name: q6_2
-->

In [83]:
gs_inventory = Table.read_table("Datasets/gs_inventory.csv")
gs_inventory

box ID | cookie name   | count
53686  | samoas        | 45
57181  | tagalongs     | 123
25274  | s'mores       | 20
48800  | do-si-dos     | 35
26187  | trefoils      | 255
57930  | thin mints    | 517
52357  | lemon-ups     | 102
43566  | toffee-tastic | 40
26778  | samoas        | 226

**Question 6.3.** Does each container contain a different type of cookie? Set `all_different` to `True` if each container contains a different type of cookie or to `False` if multiple containers contain the same cookie.

*Hint:* You don't have to write code to calculate the True/False value for `all_different`. Just look at the `gs_inventory` table and assign `all_different` to either `True` or `False` according to what you can see from the table in answering the question.

<!--
BEGIN QUESTION
name: q6_3
-->

In [85]:
all_different = True
all_different

True

**Question 6.4.** The file `gs_sales.csv` contains the number of boxes of cookies sold from each container over the previous weekend.  It has an extra column called "price per box (\$)" that's the price *per box of cookies* for the cookies in that container.  The rows are in the same order as the `gs_inventory` table.  Load these data into a table called `gs_sales`.

<!--
BEGIN QUESTION
name: q6_4
-->

In [86]:
gs_sales = Table.read_table("Datasets/gs_sales.csv")
gs_sales

box ID | cookie name   | count sold | price per box ($)
53686  | samoas        | 22         | 5
57181  | tagalongs     | 47         | 5
25274  | s'mores       | 12         | 6
48800  | do-si-dos     | 11         | 5
26187  | trefoils      | 106        | 5
57930  | thin mints    | 312        | 5
52357  | lemon-ups     | 25         | 5
43566  | toffee-tastic | 9          | 6
26778  | samoas        | 99         | 5

**Question 6.5.** How many boxes of cookies did the troop sell in total over that weekend?

<!--
BEGIN QUESTION
name: q6_5
-->

In [87]:
total_cookies_sold = gs_sales["count sold"].sum()
total_cookies_sold

643

**Question 6.6.** What was the troops's total revenue (the total price of all boxes of cookies sold) over that weekend?

<!--
BEGIN QUESTION
name: q6_6
-->

In [89]:
total_revenue = (gs_sales["count sold"] * gs_sales["price per box ($)"]).sum()
total_revenue

3236

**Question 6.7.** Make a new table called `gs_remaining_inventory`.  It should have the same rows and columns as `gs_inventory`, except that the amount of boxes of cookies sold from each container should be subtracted from that container's count, so that the "count" is the amount of boxes of cookies remaining after that weekend.

<!--
BEGIN QUESTION
name: q6_7
-->

In [94]:
gs_remaining_inventory = gs_inventory
gs_remaining_inventory["count"] = gs_inventory["count"] - gs_sales["count sold"]
gs_remaining_inventory

box ID | cookie name   | count
53686  | samoas        | 23
57181  | tagalongs     | 76
25274  | s'mores       | 8
48800  | do-si-dos     | 24
26187  | trefoils      | 149
57930  | thin mints    | 205
52357  | lemon-ups     | 77
43566  | toffee-tastic | 31
26778  | samoas        | 127