In [2]:
from datascience import *
import numpy as np

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
strings_array * 2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

In [ ]:
a.item(7)

In [ ]:
a.item(-1)

## Creating a Table from Scratch ##

In [3]:
streets = make_array('Franklin', 'East Rosemary', 'North')
streets

array(['Franklin', 'East Rosemary', 'North'], dtype='<U13')

In [4]:
Table()

In [5]:
North_of_Campus = Table().with_column('Streets', streets)
North_of_Campus

Streets
Franklin
East Rosemary
North

In [ ]:
North_of_Campus.with_column('Blocks North of campus', np.arange(3))

In [ ]:
North_of_Campus

In [ ]:
North_of_Campus = North_of_Campus.with_column('Blocks North of campus', np.arange(3))
North_of_Campus

In [ ]:
North_of_Campus.labels

In [ ]:
North_of_Campus.num_columns

In [ ]:
North_of_Campus.num_rows

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('du_bois.csv')
du_bois

In [ ]:
# On average, how much does each class spend on food?
...

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

### Back to Minard ###

In [ ]:
minard = Table.read_table('minard.csv')
minard

In [ ]:
# What percentage of Napoleonâ€™s troops were still alive in each city of the advance and retreat?

In [ ]:
minard.select('City')

In [ ]:
minard.column('City')

In [ ]:
minard.column('Survivors')

In [ ]:
initial_size = minard.column('Survivors').item(0)
initial_size

In [ ]:
minard.column('Survivors') / initial_size

In [ ]:
minard = minard.with_column(
    'Pct alive', 
    minard.column('Survivors') / initial_size)
minard

In [ ]:
minard.set_format('Pct alive', PercentFormatter)

In [ ]:
minard.column('Pct alive')