In [ ]:
from datascience import *
import numpy as np

## Review of Tables ##

In [ ]:
skyscrapers = Table.read_table('skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.select('name', 'height')

In [ ]:
skyscrapers.drop('completed', 'height', 'material')

In [ ]:
skyscrapers

In [ ]:
skyscrapers.where('city', 'Charlotte')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)

In [ ]:
chicago = skyscrapers.where('city', 'Chicago').drop('city')
chicago

In [ ]:
chicago.where('material', 'steel').sort('completed', descending=True)

## Numbers ##

In [ ]:
4 * 5

In [ ]:
20  # int

In [ ]:
20 / 3  # float

In [ ]:
20 / 2  # also a float

In [ ]:
1234 ** 5

In [ ]:
123456789 ** 1234

In [ ]:
4 / 700

In [ ]:
4 / 700000000000000000

In [ ]:
0.12345678901234567890123456789

In [ ]:
0.12345678901234567890123456789 - 0.1234567890123456789

In [ ]:
10 ** 0.5

In [ ]:
16 ** 0.5

In [ ]:
(10 ** 0.5) ** 2

In [ ]:
20 / 10

In [ ]:
int(20 / 10)

In [ ]:
int(20 / 9)

In [ ]:
float(3)

In [ ]:
6 / 4

In [ ]:
6 / 4000

In [ ]:
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
1.5e-56

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2 * x

In [ ]:
round(3.7)

In [ ]:
round(2.00000052345324, 2)

In [ ]:
10 * 3.0

## Strings ##

In [ ]:
'I am tired'

In [ ]:
"I'm tired"

In [ ]:
'I'm tired'

In [ ]:
'water' + 'melon' # concatenation

In [ ]:
'water' + ' ' + 'melon'

In [ ]:
'ha' * 10

In [ ]:
'lo' * 5.5

In [ ]:
int('3')

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type(10)

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array * 2

In [ ]:
my_array ** 2

In [ ]:
my_array + 1

In [ ]:
my_array # array is unchanged

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
sum(my_array) / len(my_array)

In [ ]:
np.average(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array + another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array + yet_another

In [ ]:
buildings = make_array('Hanes', 'Gardner', 'Dey')
buildings

## Columns of Tables are Arrays ##

In [ ]:
Arrests_Carrboro = Table.read_table('Police_Arrests_Made.csv').where('City', 'CARRBORO')
Arrests_Carrboro

In [ ]:
Arrests_Carrboro.select('Age')

In [ ]:
Arrests_Carrboro.column('Age')

In [ ]:
np.average(Arrests_Carrboro.column('Age'))

In [ ]:
np.nanmean(Arrests_Carrboro.column('Age'))

In [ ]:
Carrboro_OP = Arrests_Carrboro.where('Primary_Charge', 'OPEN CONTAINER')

In [ ]:
np.nanmean(Carrboro_OP.column('Age'))

In [ ]:
CH_OP = Table.read_table('Police_Arrests_Made.csv').where('City', 'CHAPEL HILL').where('Primary_Charge', 'OPEN CONTAINER')
CH_OP

In [ ]:
np.nanmean(CH_OP.column('Age'))