In [ ]:
from datascience import *

# Lecture 11 #

## Joins

In [ ]:
drinks = Table().with_columns(
    'Drink', make_array('Milk Tea', 'Espresso', 'Latte', 'Espresso'),
    'Cafe', make_array('Asha', 'Strada', 'Strada', 'FSM'),
    'Price', make_array(5.5, 1.75, 3.25, 2)
)

drinks

In [ ]:
discounts = Table().with_columns(
    'Coupon % off', make_array(10, 25, 5),
    'Location', make_array('Asha', 'Strada', 'Asha')
)
discounts

In [ ]:
combined = drinks.join('Cafe', discounts, 'Location')
combined

In [ ]:
discounted_frac = 1 - combined.column('Coupon % off') / 100

combined.with_column(
    'Discounted Price', 
    combined.column('Price') * discounted_frac
)

In [ ]:
drinks.join('Cafe', drinks, 'Cafe')

## Bigger Joins

### What were the top 10 states with the lowest population per square mile in the year 2000?

In [ ]:
state_areas = Table.read_table('state-areas.csv')
state_pop = Table.read_table('state-population.csv')
state_abbrevs = Table.read_table('state-abbrevs.csv')

state_areas.show(5), state_pop.show(5), state_abbrevs.show(5);

In [ ]:
state_pop_total_2000 = state_pop.where('ages', 'total').where('year', 2000)
state_pop_total_2000

In [ ]:
state_combined = state_pop_total_2000.join('state/region', state_abbrevs, 'abbreviation')
state_combined

In [ ]:
state_combined2 = state_combined.join('state', state_areas, 'state')
state_combined2

In [ ]:
state_combined3 = state_combined2.with_column(
    'Pop/sq mile',
    state_combined2.column('population') / state_combined2.column('area (sq. mi)')
)

state_combined3

In [ ]:
state_combined3.sort('Pop/sq mile').take(np.arange(10))